extends layout

block head
  link(rel='stylesheet' href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
  script(type='text/javascript' src='/javascripts/controllers/ShoppingListController.js')

block content
  div.wutchuneed(ng-controller="ShoppingListController" ng-init="setShoppingLists( #{JSON.stringify(shoppingLists)} )")

    div.well#shopping-lists-index(ng-show="currentShoppingList == undefined")
      h2.list-view-title Choose a list:
      div.shopping-lists#shopping-lists-container
        div.no-lists(ng-show="shoppingLists.length == 0")
          span No lists found
        div.shopping-list-block(ng-repeat="list in shoppingLists" ng-click="showShoppingList(list._id)")
          span.list-description
            {{list.description}}
      div.add-new-list
        span Add New
        form(novalidate, ng-submit="addNewShoppingList()")
          textarea.wutchuneed-input( ng-model="newShoppingList.description",
                                      placeholder="Description")
          br
          button.btn.btn-primary.add-new-list-button(type="submit") Add List


    div.well#shopping-list-details(ng-show="currentShoppingList != undefined")
      div.back-button-section.icon-action-section
        a.back-button-icon
          i.fa.fa-arrow-circle-left(ng-click="clearCurrentList()")

      span.shopping-list-details
        span.shopping-list-description {{currentShoppingList.description}}
        span.delete-list-section.icon-action-section
          a.delete-list-icon
            i.fa.fa-trash-o(ng-click="deleteShoppingList(currentShoppingList._id)")
        span.change-name-section.icon-action-section
          a.change-name-icon
            i.fa.fa-pencil-square-o(ng-click="toggleChangeNameField()")
          span.change-name-input(ng-show="showChangeName")
            input.wutchuneed-input(ng-model="newListName")
            button.btn.btn-primary.wutchuneed-input-button(ng-click="changeListName()") +
        span.add-category-section.icon-action-section
          a.add-category-icon
            i.fa.fa-plus-circle(ng-click="toggleAddCategoryField()")
          span.add-category-input(ng-show="showAddCategory")
            input.wutchuneed-input(ng-model="newCategoryName")
            button.btn.btn-primary(ng-click="addCategory()") +

        span.shopping-list-categories-container
          ul.shopping-list-categories
            li.shopping-list-category(ng-repeat="category in currentShoppingList.categories" ng-class="{empty: category.empty, 'hide-children': category.hideChildren}")
              span.category-name(ng-click="toggleHideChildren(category)")
                {{category.description}}
              span.delete-category-section.icon-action-section
                a.delete-category-icon
                  i.fa.fa-trash-o(ng-click="deleteCategory(category)")
              span.change-category-name-section.icon-action-section
                a.change-category-name-icon
                  i.fa.fa-pencil-square-o(ng-click="toggleChangeCategoryNameField(category)")
                span.change-category-name-input(ng-show="showChangeCategoryName && currentCategory._id === category._id")
                  input.wutchuneed-input(ng-model="currentCategory.newName")
                  button.btn.btn-primary(ng-click="changeCategoryName()") +
              span.add-item-section.icon-action-section
                a.add-item-icon
                  i.fa.fa-plus-circle(ng-click="toggleAddItemField(category)")
                span.add-item-input(ng-show="showAddItem && currentCategory._id === category._id")
                  input.wutchuneed-input(ng-model="newItemName")
                  button.btn.btn-primary(ng-click="addItem(category, newItemName)") +
              span.category-items-section
                ul.shopping-list-category-items
                  li.shopping-list-category-item(ng-repeat="item in category.items" ng-class="item.status")
                    span.item-description(ng-click="cycleItemStatus(item, category)") {{item.description}}
                    span.delete-item-section.icon-action-section
                      a.delete-item-icon
                        i.fa.fa-trash-o(ng-click="deleteItem(category, item)")
                    span.change-item-name-section.icon-action-section
                      a.change-item-name-icon
                        i.fa.fa-pencil-square-o(ng-click="toggleChangeItemNameField(category, item)")
                      span.change-item-name-input(ng-show="showChangeItemName && currentItem._id === item._id")
                        input.wutchuneed-input(ng-model="currentItem.newName")
                        button.btn.btn-primary(ng-click="changeItemName()") +


