doctype html
html(ng-app="ShoppingListModule")
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

    script(type='text/javascript' src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/javascripts/ShoppingListModule.js')

    block head

  body
    div.alert.alert-error(ng-hide="currentError === undefined")
      button(type="button" class="close" data-dismiss="alert") &times;
      h4 Oh crap... {{currentError}}
    block content
