body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

a.back-button-icon {
  font-size: 4rem;
}

h2.list-view-title {
  width: 100%;
}

#shopping-lists-container {
  display: inline;
  height: 100%;
  width: 100%;
}

.shopping-list-block {
  top:50%;
  width: 40%;
  height: 200px;
  margin-top: -5em;
  position: relative;
  margin: 5px;
  display: inline-block;
  background-color: orange;
  border:2px solid;
  border-radius:25px;
  padding: 10px;
  overflow: auto;
  font-size: 2em;
}
span.list-description {
  position:absolute;
  top:50%;
  left: 0;
  margin-top:-.5em;
/*  width: 10em;
  height:10em; */
  vertical-align: middle;
  text-align: center;
}

ul.shopping-lists,
ul.shopping-list-categories,
ul.shopping-list-category-items {
  list-style-type: none;
}

.main-shopping-list-description {
  font-size: 3.2rem;
}

div.well.shopping-list-details {
  /*background-color: pink;*/
}
.shopping-list-description {
  font-size: 3.2rem;
}

.shopping-list-description > a {
  padding-left: 10px;
}

li.shopping-list-category {
  font-size: 2.4rem;
  /*background-color: lightgreen;*/
}

li.shopping-list-category.empty {
  font-size: 2.4rem;
  opacity: 0.3;
  text-decoration: line-through;
}

li.shopping-list-category.hide-children li{
  display: none;
}

li.shopping-list-category-item {
  font-size: 1.8rem;
}

span.icon-action-section {
  padding-left: .5rem;
}

.shopping-list-category-item.needed {
  text-decoration: none;
}

.shopping-list-category-item.in-cart {
  text-decoration: line-through;
  opacity: 0.50;
}

.shopping-list-category-item.purchased {
  text-decoration: line-through;
  opacity: 0.20;
}

@media screen and (max-device-width: 320px) {
  body {
    width: 320px;
    padding: 5px;
  }
  .wutchuneed {
    width: 340px;
  }
  .add-category-input input {
    width: 280px;
  }
  .add-item-input input {
    width: 240px;
  }

  #shopping-lists-container {
    display: block;
  }
  #shopping-lists-index {
  }
  .shopping-list-block {
    font-size: 1.6rem;
    font-weight: 700;
    width: 46%;
    height: 100px;
  }
  #shopping-list-details {
    width: 100%;
    padding: 5px;
  }
  .list-description {
    /*font-size: 6.4rem;*/
  }
  li.shopping-list-category {
    font-size: 2.8rem;
    /*background-color: lightgreen;*/
  }
  li.shopping-list-category-item {
    font-size: 2.4rem;
  }
}